
.payment-container{
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  padding: 20px;
  
}
.form-group{
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  justify-content: center;
  padding: 20px;
}
.payment-form-container label {
  font-family: var(--font-primary);
  font-size: 20px;
}

.payment-page__amount-image,
.payment-page__calendar-image,
 .payment-page__category-image{
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 36px;
}
  .form-group {
    margin-bottom: 20px;
  }
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  small {
    color: #777;
    font-style: italic;
  }
