
.payment-list-page_no_entries{
  background-image: url('./assets/no_entries.png');
  background-size: contain;
  height: 550px;
}
/* ===============================payment list table==========================*/
.table {
    max-width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    width: 100%;
  }
  
  .table thead tr {
    background-color:  inherit;
    color: var(--button-payment-color);
    text-align: left;
    font-family: var(--font-primary);
  }
  
  .table th,
  .table td {
    border: 1px solid #dddddd;
    padding: 20px;
    text-align: left;
    width: 500px;
    font-family: var(--font-secondary);
    font-size: 20px;
    color: var(--text-color);
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* ===============================payment list filtering==========================*/
  .filter-container {
    padding: 20px;
    margin-bottom: 20px;
  }
  label {
    color: var(--button-login-background);
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
  }
  input {
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 2%;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: inherit;
  }
  input:focus{
    transform: scale(1.1);
    outline-color: #7146db;
    
  }
  .button_filter {
    background-color: var(--button-login-background);
    color: white;
    font-size: 18px;
    padding: 0.5 rem 1 rem;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px;
    height: 50px;
    box-sizing: border-box;

  }

  .button_filter:hover {
    color: var(--highlight-color);
  
  }
  .filter-group {
    display: grid;
    grid-template-columns: 1fr 1fr 120px;
  }
  .filter-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .filter-container label {
    font-family: var(--font-secondary);
    margin-right: 10px;
  }

