:root {
    --background-color: #f2f0f7;
    --text-color: #333;
    --border-color: #d9d9e3;
    --highlight-color: hsl(259, 45%, 31%);
    --button-hover-color: hsl(259, 80%, 31%);
    --footer-background-color: #d9d9e3;
    --secondary-text-color: #7146db;
    --button-login-background: #967adc;
    --button-payment-color: #F3A6C9;
    --font-primary: 'Architects Daughter', cursive;
    --font-secondary: 'Inconsolata', monospace;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.navbar {
    border-bottom: 1px solid var(--border-color);
    background-color: var(--background-color);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 120px;
    justify-items: baseline;
    align-items: center;
    position: sticky;
    height: 60px;
    top: 0;
  }

  button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
.navbar button {
    padding: 0.5 rem 1 rem;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px;
    box-sizing: border-box;
}

.button_login{
  background-color: var(--button-login-background);
  color: white;
  font-size: 18px;
  padding: 0.5 rem 1 rem;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100px;
  height: 50px;
  box-sizing: border-box;
}

.navbar button:hover {
  color: var(--highlight-color);

}
.navbar__logo img:hover {
  transform: scale(1.1);
}
.button_payments{
  background-color: transparent;
  color: var(--button-payment-color);
  font-family: 'Inconsolata', monospace;
  font-size: 25px;
  font-weight: 600;
  white-space: nowrap;
}

.button_login {
  background-color: var(--button-login-background);
  color: white;
  font-size: 18px;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}
.footer {
    color: var(--secondary-text-color);
    text-align: center;
    padding: 1 rem 0;
    font-size: 14px;
    background-color: var(--footer-background-color);
}

  .github-link:hover {
    color: var(--button-hover-color);
  }
/* ===============================payment form==========================*/
/* General container to align form to the middle */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

/* Styling the form box itself */
.form-box {
    border: 1px solid #ccc;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    background: white;
    width: 80%;
    max-width: 400px;
}

/* Style form groups for better spacing */
.form-group {
    margin-bottom: 1rem;
}

/* Style form labels */
.form-label, .payment-form label {
    display: block;
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
}

.payment-form label {
    display: block;
    margin-bottom: 5rem;
}

/* Style form inputs, selects, and buttons */
.form-input, .payment-form input,
select, .payment-form select,
.form-button, .payment-form button {
    box-sizing: border-box;
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Style the form button */
.form-button, .payment-form button {
    background-color: #7146db;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Hover state for the form button */
.form-button:hover, .payment-form button:hover {
    background-color: #5a33b6;
}
/* ===============================payment list table==========================*/
.table {
    max-width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    width: 100%;
  }
  
  .table thead tr {
    background-color:  inherit;
    color: var(--button-payment-color);
    text-align: left;
    font-family: var(--font-primary);
  }
  
  .table th,
  .table td {
    border: 1px solid #dddddd;
    padding: 20px;
    text-align: left;
    width: 500px;
    font-family: var(--font-secondary);
    font-size: 20px;
    color: var(--text-color);
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  /* ===============================payment list filtering==========================*/
  .filter-container {
    padding: 20px;
    margin-bottom: 20px;
  }
  label {
    color: var(--button-login-background);
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
  }
  input {
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 2%;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: inherit;
  }
  input:focus{
    transform: scale(1.1);
    outline-color: #7146db;
    
  }
  .button_filter {
    background-color: var(--button-login-background);
    color: white;
    font-size: 18px;
    padding: 0.5 rem 1 rem;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px;
    height: 50px;
    box-sizing: border-box;

  }

  .button_filter:hover {
    color: var(--highlight-color);
  
  }
  .filter-group {
    display: grid;
    grid-template-columns: 1fr 1fr 120px;
  }
  .filter-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .filter-container label {
    font-family: var(--font-secondary);
    margin-right: 10px;
  }

  .home-page__image-container, .payment-page__image-container, .payment-list-page__image-container {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 200px;
    font-size: 20px;
    font-family: var(--font-primary);
    justify-content: space-evenly;
  }

  
.home-page__image, .payment-page__image, .payment-list-page__image {
  width: 200px;
  height: 180px;
}

.home-page__description, .payment-page__description, .payment-list-page__description {
  border: 1px solid;
  border-color: #7146db;
  height: 160px;
  box-shadow: 6px 4px 8px;
  padding: 2%;
  box-sizing: border-box;
  border-radius: 12px;
  width: 80%;
}
