body {
    background-color: #f2f0f7;
    color: #333;
}

.header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-size: 24px;
}

.navbar {
    border-bottom: 1px solid;
    border-color: #d9d9e3;
    background-color: #f2f0f7;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 120px;
    justify-items: baseline;
    align-items: center;
    position: sticky;
    height: 60px;
    top: 0;
  }

.navbar button {
    border: none;
    padding: 0.5 rem 1 rem;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px;
    box-sizing: border-box;

}

.button_payments{
  background-color: transparent;
  color: #F3A6C9;
  font-family: 'Inconsolata', monospace;
  font-size: 25px;
  font-weight: 600;
  white-space: nowrap;
}

.button_payments:hover {
  color: hsl(259, 45%, 31%);
}
.button_login {
  background-color: #967adc;
  color: white;
  font-size: 18px;
}
.navbar button:hover {
    color: hsl(259, 45%, 31%);

}

.image-container {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 200px;
  font-size: 20px;
  font-family: 'Architects Daughter', cursive;
  justify-content: space-evenly;
  

}
.image-piggy{
width: 200px;
height: 180px;
}

.image-container-attribution{
  font-size: 12px;
  font-family: 'Architects Daughter', cursive;
  padding-left: 40px;
}

.image-container-paragraph {
border: 1px solid;
border-color:#7146db;
height: 160px;
box-shadow: 6px 4px 8px;
padding: 2%;
box-sizing: border-box;
border-radius: 12px;
width: 80%;

}
.container_features{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 0px;
  padding-top: 20px;
  justify-content: space-evenly;
}

.features_wrapper--left{
  padding-left: 20px;
}
.features_photo
{
  width: 400px;
  height: 400px;
  border: 1px solid;
  border-color:#7146db;
  border-radius: 12px;
  box-shadow: 6px 4px 8px;

}
.features_title {
  font-family: 'Architects Daughter', cursive;
}
.features_description {
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
}
.contact_page{
  background-image: url('./assets/contact_page.jpg');
  background-size: cover;
  height: 700px;
}

.contact-form {
  display: flex;
  height: 600px;
  width: 800px;
  align-items: flex-start;
  justify-content: flex-end
}

.contact_title {
  margin: 0;
  padding-bottom: 20px;
  font-size: 60px;
  font-family: 'Architects Daughter', cursive;
}

.contact-label{
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  align-content: flex-start;
  margin-bottom: 10px;
}
.contact-input--bottom{
  height: 300px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 12px;
}

.contact-input{
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 12px;
}

.contact-input:focus,
.contact-input--bottom:focus {
    background-color: #f2f0f7;
    
  }

.contact-box{
  padding: 20px;
  background: none;
  width: 100%;
  max-width: 400px;
}

.contact-button{
  border: none;
  padding: 0.5 rem 1 rem;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100px;
  box-sizing: border-box;
  background-color: #7146db;
  color: white;
  font-size: 18px;
}

.contact-button:hover {
  color: hsl(259, 45%, 31%);
}

.footer {
    color: #7146db;
    text-align: center;
    padding: 1 rem 0;
    font-size: 14px;
    background-color: #d9d9e3;
}

.header, .navbar, .footer {
    padding: 0.5rem;
}

.navbar-title {
    float: left;
    font-family: 'Agbalumo' sans-serif;
    font-size: 1.5rem;
    margin-right: 2rem;
    color: black;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .github-link:hover {
    color: hsl(259, 94%, 6%);
  }

  .footer {
    flex-shrink: 0;
}
/* ===============================payment form==========================*/
/* General container to align form to the middle */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

/* Styling the form box itself */
.form-box {
    border: 1px solid #ccc;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    background: white;
    width: 80%;
    max-width: 400px;
}

/* Style form groups for better spacing */
.form-group {
    margin-bottom: 1rem;
}

/* Style form labels */
.form-label, .payment-form label {
    display: block;
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
}

.payment-form label {
    display: block;
    margin-bottom: 5rem;
}

/* Style form inputs, selects, and buttons */
.form-input, .payment-form input,
select, .payment-form select,
.form-button, .payment-form button {
    box-sizing: border-box;
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Style the form button */
.form-button, .payment-form button {
    background-color: #7146db;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Hover state for the form button */
.form-button:hover, .payment-form button:hover {
    background-color: #5a33b6;
}
/* ===============================payment list table==========================*/
.table {
    max-width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    width: 100%;
  }
  
  .table thead tr {
    background-color:  #7146db;
    color: white;
    text-align: left;
  }
  
  .table th,
  .table td {
    border: 1px solid #dddddd;
    padding: 20px;
    text-align: left;
    width: 500px;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  /* ===============================payment list filtering==========================*/
  .filter-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  label {
    font-weight: bold;
    margin-right: 10px;
  }
  input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .filter-button {
    background-color: #7146db;
    color: white;
    margin-left: 10px;
  }
  .filter-group {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;  
  }
  .filter-item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .filter-container label {
    font-weight: bold;
    margin-right: 10px;
  }
